@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap');

:root {
    --primeira: #FD841F;
    --segunda: #E14D2A;
    --terceira: #CD104D;
    --quarta: #9C2C77;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#cor-de-fundo {

    background-image: linear-gradient(to right, white, var(--primeira), var(--segunda))
}

header {
    display: flex;
    border: 10px;
    background-color: white;
    justify-content: space-around;
    align-items: center;
    /* position: sticky; */
    width: 100%;
    top: 0;
    z-index: 100;
    height: 15vh;
    border-bottom: 2px solid #E14D2A;

}


#logo-cabecalho {
    height: 14vh;
}

#menu {
    display: flex;
}

nav a {
    padding: 1vh;
    font-size: 20px;
    text-decoration: none;
    color: var(--quarta);
    font-weight: 500;


}

.login {
    height: 15px;
}



#abertura {
    width: 98vw;
    height: 90vh;
    justify-items: center;
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "entregador primeiro-texto "
        "entregador primeiro-texto"
        "entregador figura-entregador";


}



#imagem1-abertura {
    height: 40vw;
    width: 100%;
    grid-area: entregador;
}

#frase-de-abertura {
    padding: 2vh;
    grid-area: primeiro-texto;

}

#frase-de-abertura p {
    display: grid;
    font-size: 22px;
    text-align: center;
    align-items: center;
    margin: 4%;
    letter-spacing: 3px;
    color: rgb(255, 255, 255);



}

#figurinha-entregador {
    align-self: center;
    align-items: center;
    width: 19%;
    padding-top: 5%;
    grid-area: figura-entregador;

}

#btn-app {
    display: flex;
    align-items: center;
    border: 2px solid var(--quarta);
    font-size: 21px;
    justify-self: center;
    justify-content: center;
    text-decoration: none;
    padding: 1%;
    border-radius: 25px;
    color: white;
    height: 4vw;
    text-align: center;
    margin-bottom: 1%;


}

#btn-app:hover {
    background-image: linear-gradient(to right, var(--quarta), var(--segunda), var(--terceira));
    color: black;
    font-weight: 500;
    box-shadow: 5px 5px 10px var(--quarta);
}


/* ================================================= */


.shape {
    background: linear-gradient(45deg, var(--terceira) 100%, var(--segunda) 100% var(--primeira) 80% var(--quarta) 90%);
    animation: transicao1 10s ease-in-out infinite;
    border-radius: 100% 100% 100% 100% / 100% 100% 100% 100%;
    /* height: 58vh; */
    width: 50vw;
    z-index: 5;

}

@keyframes transicao1 {
    0% {
        border-radius: 10% 90% 12% 88% / 83% 12% 88% 17%;
        background: linear-gradient(45deg, var(--terceira) 50%, var(--quarta) 100%);
    }

    50% {
        border-radius: 100% 95% 80% 78%/ 88% 85% 92% 82%;
        background: linear-gradient(45deg, var(--primeira) 50%, var(--quarta) 100%);
    }

    100% {
        border-radius: 83% 12% 88% 17% / 10% 90% 12% 88%;
        background: linear-gradient(45deg, var(--segunda) 50%, var(--terceira) 100%);
    }
}


#facilidades {
    padding-top: 10%;
    padding-bottom: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    height: 110vh;
    width: 100%;
    justify-items: center;
    background-color: white;
    grid-template-areas: "imag1 imag2 imag3 imag4 imag5"
        "texto-facilidades texto-facilidades texto-facilidades texto-facilidades texto-facilidades "

        "texto-facilidades texto-facilidades texto-facilidades texto-facilidades texto-facilidades"

        "texto-facilidades texto-facilidades texto-facilidades texto-facilidades texto-facilidades";

}


#frase-botao {
    text-decoration: none;
    border: 2px solid;
    border-radius: 50px;
    font-size: 17px;
    color: white;
    padding: 1px;

}

#frase-botao:hover {
    background-image: linear-gradient(to right, var(--quarta), var(--segunda), var(--terceira));
    color: white;
    font-weight: 400;
    box-shadow: 5px 5px 10px var(--quarta);

}


#texto-facilidades {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    flex-wrap: wrap;
    align-items: center;
    font-size: 1.3rem;
    color: white;
    grid-area: texto-facilidades;

}

#texto-facilidades p {
    width: 80%;
}

.tamanho-img {
    width: 35%;
    height: 60%;
}

#imag1 {
    grid-area: imag1;
}

#imag2 {
    grid-area: imag2;
}

#imag3 {
    grid-area: imag3;
}

#imag4 {
    grid-area: imag4;
}

#imag5 {
    grid-area: imag5;
}

/* --------------------------------------------------------- */

#frase-servicos {
    text-align: center;
    padding-top: 8%;
    font-size: 2.5em;
    color: #9C2C77;
    background-image: linear-gradient(to right, white, white, var(--primeira));
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "frase-servicos";
}

#servicos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    padding-top: 5%;
    background-image: linear-gradient(to right, white, white, var(--primeira));
    grid-template-areas: " restaurante mercado farmacia lanches pet-shop";

}

#servicos figure {
    justify-items: center;
    height: 40vh;
    width: 15vw;
    animation: transicao2 10s ease-in-out infinite;
    border: 2px solid var(--primeira);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;


}

@keyframes transicao2 {
    0% {
        border-radius: 10% 100% 10% 100% / 100% 10% 100% 10%;
        background: linear-gradient(45deg, var(--terceira) 50%, var(--quarta) 100%);
    }

    50% {
        border-radius: 20% 100% 20% 100% / 100% 20% 100% 20%;
        background: linear-gradient(45deg, var(--primeira) 50%, var(--quarta) 100%);
    }

    100% {
        border-radius: 30% 100% 30% 100% / 100% 30% 100% 30%;
        background: linear-gradient(45deg, var(--segunda) 50%, var(--terceira) 100%);
    }
}



.imagens-servicos {
    height: 60%;
    width: 60%;
    font-size: 5rem;

}

#restaurante {
    display: grid;
    align-items: center;
    grid-area: restaurante;

}

#mercado {
    display: grid;
    text-align: center;
    align-items: center;
    grid-area: mercado;
}

#farmacia {
    display: grid;
    text-align: center;
    align-items: center;
    grid-area: farmacia;
}

#lanches {
    display: grid;
    text-align: center;
    align-items: center;
    grid-area: lanches;
}

#pet-shop {
    display: grid;
    text-align: center;
    align-items: center;
    grid-area: pet-shop;
}

/* ---------------------------------------------------------- */

#frase-promocoes {
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
    font-size: 2.5em;
    color: #FD841F;
    background-color: white;
    padding-top: 8%;

}

#promocoes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat (4, 1fr);
    padding-bottom: 8%;
    text-align: center;
    background-color: white;
    row-gap: 1%;


    grid-template-areas: "item1 item2 item3 item4" "item5 frase-oferta frase-oferta item6";
}

.itens-promocao {
    height: 25vh;
    width: 13vw;
}

#item1 {
    text-align: center;
    align-items: center;
    font-size: 1.5rem;
    color: #CD104D;
    grid-area: item1;


}

#item2 {
    text-align: center;
    align-items: center;
    font-size: 1.5rem;
    color: #CD104D;
    grid-area: item2;


}

#item3 {
    text-align: center;
    align-items: center;
    font-size: 1.5rem;
    color: #CD104D;
    grid-area: item3;

}


#item4 {
    text-align: center;
    align-items: center;
    font-size: 1.5rem;
    color: #CD104D;
    grid-area: item4;


}

#item5 {
    text-align: center;
    align-items: center;
    font-size: 1.5rem;
    color: #CD104D;
    grid-area: item5;


}

#item6 {
    text-align: center;
    align-items: center;
    font-size: 1.5rem;
    color: #CD104D;
    grid-area: item6;


}


#frase-oferta {
    color: white;
    text-align: center;
    font-size: 1.5rem;
    text-align: center;
    padding-top: 2%;
    animation: transicao3 10s ease-in-out infinite;
    border: 2px solid var(--primeira);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    grid-area: frase-oferta;
}

@keyframes transicao3 {
    0% {
        border-radius: 0% 0% 0% 0% / 0% 0% 0% 0%;
        background: linear-gradient(45deg, var(--terceira) 50%, var(--quarta) 100%);
    }

    50% {
        border-radius: 0% 0% 0% 0% / 0% 0% 0% 0%;
        background: linear-gradient(45deg, var(--primeira) 50%, var(--quarta) 100%);
    }

    100% {
        border-radius: 0% 0% 0% 100% / 0% 0% 0% 0%;
        background: linear-gradient(45deg, var(--segunda) 50%, var(--terceira) 100%);
    }
}

/* ===================================== */

#frase-4food {
    text-align: center;
    align-items: center;
    font-size: 2rem;
    padding-top: 4%;
    row-gap: 10%;
    background-color: white;
    color: #9C2C77;
}

#categorias {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    color: rgb(0, 0, 0);
    gap: 10px;
    padding-bottom: 10%;
    background-color: white;
    grid-template-areas: "registre entregador trabalhe-conosco";

}

.categoria-img {
    height: 35vh;
    width: 35vh;
    border-radius: 50%;
    text-align: center;
    align-items: center;
    border: 6px solid #FD841F;
}


#registre {
    font-size: 25px;
    text-align: center;
    align-items: center;
    color: #CD104D;
    grid-area: registre;
}


#entregador {
    font-size: 25px;
    text-align: center;
    align-items: center;
    color: #CD104D;
    grid-area: entregador;
}


#trabalhe-conosco {
    font-size: 25px;
    text-align: center;
    align-items: center;
    color: #CD104D;
    grid-area: trabalhe-conosco;
}


/* --------------------------------------------- */

#formulario {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    background-color: white;
    padding-bottom: 2%;

}

.box {
    display: flex;
    justify-content: center;
    background-color: #9C2C77;
    padding: 15px;
    border-radius: 15px;
    width: 30%;
    color: rgb(244, 236, 239);

}

fieldset {
    border: 2px solid #E14D2A;
    padding: 20px;
}

legend {
    border: 1px solid #E14D2A;
    padding: 10px;
    text-align: center;
    background-color: #E14D2A;
    border-radius: 8px;

}

.inputBox {
    position: relative;
}

.inputUser {
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
}

.labelInput {
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: .05s;
}

.inputUser:focus~.labelInput,
.inputUser:valid~.labelInput {
    top: -20px;
    font-size: 12px;
    color: rgb(28, 215, 44);

}

#data-nascimento {
    border: none;
    border-radius: 10px;
    outline: none;
    padding: 8px;
    font-size: 15px;
}

#submit {
    background-image: linear-gradient(to right, rgb(211, 154, 11), rgb(124, 4, 38));
    width: 100%;
    border: none;
    padding: 15px;
    color: black;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
}

#submit:hover {
    background-image: linear-gradient(to right, rgb(124, 4, 38), rgb(211, 154, 11));

}

footer {
    display: flex;
    align-items: center;
    background-color: white;
    height: 15vh;
    flex-direction: row;
    justify-content: space-evenly;
    border-top: 2px solid #E14D2A;

}

#logo-footer img {
    display: flex;
    flex-direction: row;
    width: 14vh;
    height: 14vh;
}

#secao-footer a {
    text-decoration: none;
    padding: 8px;
    font-size: 1.2em;
    color: #9C2C77;
}

#secao-footer {
    display: flex;
}


.redes-sociais img {
    width: 5vh;
    height: 5vh;
   

}

.redes-sociais {
    display: flex;
    justify-content: space-evenly;
    width: 20vw;
}



@media screen and (max-device-width : 800px) {
    #cor-de-fundo {
        background-image: linear-gradient(to right, var(--primeira), var(--primeira), var(--segunda))
    }

    header {
        flex-direction: column;
        border: 10px;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        top: 0;
        z-index: 100;
        height: unset;
        border-bottom: 2px solid #E14D2A;

    }

    nav {
        display: flex;
        flex-direction: column;


    }

    .login {
        display: none;
    }

    #abertura {
        width: 100vw;
        height: 120vh;
        justify-items: center;
        grid-template-columns: 100%;
        grid-template-areas: "entregador" "primeiro-texto" "primeiro-texto";
    }

    #imagem1-abertura {
        height: 40vh;
        width: 50vw;
    }


    #frase-de-abertura p {
        display: grid;
        font-size: 1.5rem;
        text-align: center;
        align-items: center;
        letter-spacing: 3px;
        color: rgb(255, 255, 255);
        min-width: 30vw;
    }

    #btn-app {
        display: flex;
        height: 5vh;

    }

    #facilidades {
        padding-top: 15%;
        height: 100vh;
        grid-template-columns: 33.33% 33.33% 33.33%;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: "imag1 imag2 imag3" " imag4 . imag5" "texto-facilidades texto-facilidades texto-facilidades" "texto-facilidades texto-facilidades texto-facilidades";
    }

    .shape {
        animation: transicao1 10s ease-in-out infinite;
        border-radius: 100% 100% 100% 100% / 100% 100% 100% 100%;
        height: 40vh;
        width: 95vw;
    }

    @keyframes transicao1 {
        0% {
            border-radius: 0% 0% 0% 0% / 0% 0% 0% 0%;
            background: linear-gradient(45deg, var(--terceira) 50%, var(--quarta) 100%);
        }

        50% {
            border-radius: 0% 0% 0% 0% / 0% 0% 0% 0%;
            background: linear-gradient(45deg, var(--primeira) 50%, var(--quarta) 100%);
        }

        100% {
            border-radius: 0% 0% 0% 0% / 0% 0% 0% 0%;
            background: linear-gradient(45deg, var(--segunda) 50%, var(--terceira) 100%);
        }
    }

    #texto-facilidades {
        text-align: center;
        font-size: 1.1rem;
        color: white;
    }

    #texto-facilidades p {
        min-width: 100%;
        padding-bottom: 2%;

    }

    #frase-botao {
        text-decoration: none;
        border: 2px solid;
        border-radius: 50px;
        font-size: 1em;
        color: white;
        padding: 1px;

    }

    #frase-servicos {
        align-self: flex-end;

    }

    #servicos {
        display: grid;
        align-items: center;
        height: 90vh;
        padding-top: 5%;
        background-image: linear-gradient(to right, white, white, var(--primeira));
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "restaurante restaurante  mercado mercado farmacia farmacia "
            " . lanches lanches pet-shop pet-shop . ";

    }

    #servicos figcaption {
        align-self: flex-end;

    }

    #servicos figure {
        display: grid;
        height: 28vh;
        width: 25vw;
        animation: transicao2 10s ease-in-out infinite;
        border: 2px solid var(--primeira);
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
        font-size: 1.2rem;
        color: white;

    }

    @keyframes transicao2 {
        0% {
            border-radius: 100% 100% 100% 100% / 100% 100% 100% 100%;
            background: linear-gradient(45deg, var(--terceira) 50%, var(--quarta) 100%);
        }

        50% {
            border-radius: 100% 100% 100% 100% / 100% 100% 100% 100%;
            background: linear-gradient(45deg, var(--primeira) 50%, var(--quarta) 100%);
        }

        100% {
            border-radius: 100% 100% 100% 100% / 100% 100% 100% 100%;
            background: linear-gradient(45deg, var(--segunda) 50%, var(--terceira) 100%);
        }
    }


    #frase-promocoes {
        text-align: center;
        padding-top: 10%;
        font-size: 1.5em;

    }

    #promocoes {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat (3, 1fr);
        padding-bottom: 8%;
        padding-top: 10%;
        height: 100vh;
        text-align: center;
        background-color: white;
        grid-template-areas: "item1 item2 item3" "frase-oferta frase-oferta frase-oferta" "item4 item5 item6";

    }

    .itens-promocao {
        height: 18vh;
        width: 18vw;
    }

    #categorias {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: "registre" "entregador" "trabalhe-conosco";

    }


    .box {

        padding: 15px;
        border-radius: 15px;
        width: 80%;
        color: rgb(244, 236, 239);

    }


    footer {
        display: flex;
        background-color: white;
        height: 25vh;
        border-top: 2px solid #E14D2A;

    }

    #logo-footer img {
        /*  */
        justify-items: start;
        width: 10vw;
        height: 10vh;
        /* display: none; */

    }

    #secao-footer a {
        display: flex;
        flex-direction: row;
        text-decoration: none;
        justify-content: center;
        padding: 8px;
        font-size: 1.2em;
        color: #9C2C77;
        flex-direction: row;
    }

    #secao-footer {
        display: flex;
        font-size: 1em;
        flex-direction: column;

    }

    .redes-sociais img {
        width: 5vw;
        height: 5vh;

    }


    .redes-sociais {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


}